body{
	background-color: #eaeaea;
	padding-top: 30px;
}

.card-profile1,.card-profile2{
	background-color: #fff;
	margin:5px;
	border-radius: 4px;
	min-height: 200px;
	padding: 10px;
}
.card-profile1{
	background:linear-gradient(90deg,#fc8207 0%,#f05c27 50%,#e7413f 100%);
}
.card-profile2{
	padding:15px 50px;
}
.img-container{
	width:100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 .5rem .5rem 0 rgba(0,0,0,.18)!important;
	border: 2px solid #fff;
}
.heading{
	color: #fff;
	font-weight: bold;
}
.img-container img{
	width:115%;
	height: auto;
}

.nameProfile{
	color: #fff;
}

.list-image{
	height: 200px;
	overflow: hidden;
}
.list-image img{
	width: 100%;
	height: 100%;
}

.quote{
	font-size: 28px ;
}

.kecil{
	font-size: 20px ;
}
.besar{
	font-size: 45px ;
}