{%load static%}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.css"%}">
     <link rel="stylesheet" href="{% static "css/profile.css"%}">

    <title>{{name}}</title>
  </head>
  <body>
  <div class="container">

    <div class="row">
      <div class="col-md card-profile1 shadow">
        <h1 class="text-center mb-4 heading">Profile</h1>
        <div class="img-container mx-auto mb-4">
          <img src="{% static "img/alen.jpg"%}">
        </div>
        <div class="nameProfile mb-4">
          <div class="text-center">
            <h1>Hello my name is {{ name }}</h1>
            <article>I am {{age}} years old</article>
            {# <h6 class="text-center"><strong>{{age}} years old from kupang</strong></h6> #}
            <p class="text-center">Status Mahasiswa</p>
            <article>NPM : {{ npm }}</article>
          </div>
        </div>

        <div class="bg-light text-center p-3">
           <p class="quote">
             <strong>
                Tindakan <span class="kecil">kecil</span>
                Yang Baik adalah Awal untuk 
                Menyiapkan Diri Menggapai Mimpi Yang
                <span class="besar">Besar</span>
             </strong>
           </p>
          
        </div>
      </div>
      <div class="col-md card-profile2 shadow">
        <h3 class="text-center"><strong>About Me</strong></h3>
        <hr>
        <p class='mb-2'>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <h3 class="text-center"><strong>My Hobby</strong></h3>
        <hr>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
          cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>

    </div>
  </div>  

    <script src="{% static "js/jquery.min.js"%}"></script>
    <script src="{% static "js/popper.min.js"%}"></script>
    <script src="{% static "js/bootstrap.js"%}"></script>
  </body>
</html>